/*.banner {
    background-image: url('https://bioteng.consultoresinformaticos.com.py/wp-content/uploads/2023/12/Productos_.png'); /* Asegúrate de que la ruta a la imagen es correcta */
    /*height: 250px; /* Ajusta este valor según el tamaño que quieras para el banner */
   /* background-size: cover; /* Esto hará que la imagen cubra todo el div */
    /*background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/
  /*
    
  .banner_img{
    margin-top: 12vh;
    max-width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  */

  .banner_container{
    margin-top: 12vh;
    height: 25vh; /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
