.detalle-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
  }
  
  .producto-container {
      max-width: 95%;
      max-height: 200px; /* Ajusta este valor según tus necesidades */
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;  
      margin-top: 30px;
  }
  
  .producto img {
    max-width: 95%;
    max-height: 500px; /* Ajusta este valor según tus necesidades */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 30px;
}
  .detalle-producto h2{
    display: flex;
  }
  .product-name{
    align-items:flex-start;
  }
  /*  */
  
  /* Puedes ajustar estos estilos según tus necesidades */
  