.filtros {
    display: flex;
    justify-content: center; /* Distribuye los elementos a lo largo del contenedor */
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    flex-wrap: nowrap; /* Evita que los elementos se apilen */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.filtros select {
    height: 27px;
    max-width: 100%; /* Asegura que los elementos no excedan el ancho del contenedor */
    min-width: 0; /* Permite que los elementos se reduzcan por debajo de su ancho contenido si es necesario */
    border: 1px solid #ccc; /* Ajusta el valor del color según sea necesario */
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #3a3636;
}

.search-container input {
    width: 250px; /* Ajusta este valor para cambiar el ancho */
    height: 26px; /* Ajusta este valor para cambiar el alto */
    max-width: 100%; /* Asegura que los elementos no excedan el ancho del contenedor */
    min-width: 0; /* Permite que los elementos se reduzcan por debajo de su ancho contenido si es necesario */
    border: 1px solid #ccc; /* Ajusta el valor del color según sea necesario */
}

.filtros select, .search-container input {
    border: 1px solid #ccc;
    width: 260px; /* Establece un ancho fijo */
    max-width: 100%; /* Asegura que los elementos no excedan el ancho del contenedor */
    min-width: 0; /* Permite que los elementos se reduzcan por debajo de su ancho contenido si es necesario */
}
