.footer_container{
    height: 20vh; /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: #00aa57;
}

.footer_img{
    max-width: 20vh;
    padding: 8px;
    margin: 10px;
    margin-left: 8vh;
    height: auto;
}

.text{
    color: #fff;
}

.informacion{
    margin-right: 80px;
    margin-top: 3vh;
    align-content:flex-start;
    align-items: center;
}

/* .extra{
    
} */