.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}
.pagination{
  align-content: center;
}

@media (max-width: 1200px) {
  .product-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr);
  }
} 

  .product-grid__item img {
    max-width: 95%;
    max-height: 200px; /* Ajusta este valor según tus necesidades */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.product-grid__item {
    border: 0px solid #ccc;
    padding: 10px;
    max-width: 300px; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Centra el producto en la fila */
}

.product-grid__item a {
  color: inherit; /* Esto hará que el texto del enlace tenga el mismo color que el texto circundante */
  text-decoration: none; /* Esto eliminará el subrayado */
}
  .pagination {
    margin: 0 auto;
    align-items: flex-end;
    margin: 10px;
  }
  .product-name {
    white-space: nowrap;
    text-align: center;
    font-family: 'Telegraph',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #009e4d!important;
    text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
  }
  .product-description {
    font-family: 'Telegraph',Helvetica,Arial,Lucida,sans-serif;
    text-align: center;
    font-size: 11px;
  }

  .pagination button {
    border: none;
    padding: 10px;
    margin: 0px; /* Esto hará que los botones estén más juntos */
    background-color: transparent; /* Esto eliminará el fondo */
}

.pagination button:hover {
    background-color: #ddd; /* Este color puede ser ajustado */
}

/* Estilo para el botón activo */
.pagination button:disabled {
    background-color: #bbb; /* Este color puede ser ajustado */
}

.product-grid__item {
  position: relative; /* Esto permite posicionar el icono de flecha y la máscara respecto a este contenedor */
}

.product-grid__item::after {
  content: '➔'; /* Aquí puedes poner el ícono que prefieras */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* El ícono estará oculto inicialmente */
  transition: opacity 0.3s ease; /* Esto añade una transición suave al mostrar el ícono */
  color: #ffffff; 
}

.product-grid__item:hover::after {
  opacity: 1; /* Al pasar el cursor sobre el producto, el ícono se mostrará */
}

.product-grid__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Aquí puedes ajustar el color y la opacidad de la máscara */
  opacity: 0; /* La máscara estará oculta inicialmente */
  transition: opacity 0.3s ease; /* Esto añade una transición suave al mostrar la máscara */
  pointer-events: none; /* Añade esta línea */
}

.product-grid__item:hover::before {
  opacity: 1; /* Al pasar el cursor sobre el producto, la máscara se mostrará */
}
