#main-header {
  background-color: white;
  border-bottom: 0.5px solid #bfbfbf;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  
}

.container-fluid {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  padding: 0 135px; 
}

.logo_container {
  flex-grow: 1;
}

#logo {
  height: auto;
  width: 165px;
}

#top-menu {
  list-style-type: none;
  margin-left: 400px; /* Agregamos la unidad 'px' */
  padding: 0;
  display: flex; /* Usamos Flexbox en lugar de float */
}


#top-menu li {
  margin-right: 8px; /* Agregamos margen a la derecha para separar los elementos */
}

#top-menu li a {
  display: block;
  color: rgba(0, 0, 0, 0.5); 
  font-size: 14px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#top-menu li a:hover {
  color: #009e4d;
}


.dropdown-menu {
  background-color: #f8f9fa; /* Cambia el color de fondo del menú desplegable */
  border: none; /* Elimina el borde del menú desplegable */
  border-top: 3px solid #00BFFF; /* Agrega una línea celeste en el borde superior */
  border-radius: 0;
}


.dropdown-item {
  padding: 10px 20px; /* Ajusta el relleno de los elementos del menú desplegable */
}

.dropdown-item:hover {
  background-color: #e9ecef; /* Cambia el color de fondo de los elementos del menú desplegable al pasar el cursor sobre ellos */
}


.navbar-toggler {
  border: none; /* Elimina el borde del botón */
  color: #00BFFF; /* Cambia el color del icono */
}

.navbar-toggler-icon {
  font-size: 24px; /* Aumenta el tamaño del icono */
}




/*
#main-header {
  background-color: white;
  border-bottom: 0.5px solid #bfbfbf;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.container-fluid {
  display: flex;
  justify-content: flex-start;
  padding: 0 135px; 
}

.logo_container {
  flex-grow: 1;
}

#logo {
  height: auto;
  width: 150px;
}

#top-menu {
  list-style-type: none;
  margin-left: 400px;
  padding: 0;
}


#top-menu li {
  float: left;
}

#top-menu li a {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#top-menu li a:hover {
  color: #009e4d;
}
*/